/* Sidebar Styles */

body {
    background: url("/imgs/background2.jpg");
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 110%;
    
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

.sidebar {
    height: 100vh;
    color: lime;
    background: black;
    width: 20%;
    overflow-y: scroll;
}

h1 {
    border-bottom: 10px solid grey;
    text-align: center;
}

#userName {
    background: green;
}

/*  game div   */

.gameDiv {
    height: 100%;
    float: right;
    /* color: white; */
    /* background: #333744; */
    width: 80%;
    /* overflow-y: scroll */
}

.embeddedPage {
    width: 78%;
    height: 98%;
    float: right;
}