/* Sidebar Styles */

/* .room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;
} */

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

.sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 20%;
    overflow-y: scroll
}

h2 {
    border-bottom: 2px solid #000;
    text-align: center;
}

/*  game div   */

.gameDiv {
    height: 100%;
    float: right;
    /* color: white; */
    /* background: #333744; */
    width: 80%;
    /* overflow-y: scroll */
}

.embeddedPage {
    width: 78%;
    height: 98%;
    float: right;
}